{% extends 'base.html' %}
{% block title %} Редактирование профиля {% endblock %}

{% block content %}

  <form action="." method="POST">
    {% csrf_token %}
<!--    <p><label>Имя:</label><input type="text" name="first_name" value="{{user.first_name}}"></p>-->
<!--    <p><label>Фамилия:</label><input type="text" name="last_name" value="{{user.last_name}}"></p>-->
<!--    <p><label>Email:</label><input type="text" name="email" value="{{user.email}}"></p>-->
    {{ profile_form.as_p }}
    {% if form.errors %}
      {% for error in form.errors %}
        <p>{{error}}</p>
      {% endfor %}
    {% endif %}
    <p><input type="submit" value="Изменить"></p>
  </form>

{% endblock %}