{% extends 'base.html' %}
{% block title %} Главная страница {% endblock %}

{% block content %}

    <h1 style="text-align: center;">Добро пожаловать на наш проект по поиску фотографов</h1>
    <p><a href="/login/">Вход</a></p>
    <p><a href="/register/">Регистрация</a></p>
    {% if user.is_authenticated %}
        <p><a href="{% url 'photo_store:photographers' %}">Поиск фотографа</a></p>
    {% endif %}
    <a href='#' id="test-link">Тест</a>
    <p id="answer"></p>
    <a href='#' id="create-link">TestCreate</a>
    <script>
        function getCookie(name)
        {
              let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
              ));
              return matches ? decodeURIComponent(matches[1]) : undefined;
        }

        let link = document.getElementById('test-link');

        link.addEventListener('click', function()
        {
            let sender = new XMLHttpRequest();
            sender.open('GET', '/test_ajax/', true);
            sender.send();
            sender.onreadystatechange = function()
                {
                    if(sender.readyState != 4)
                    {
                       return;
                    }
                    if(sender.status != 200)
                    {
                        alert(sender.status, ': ', sender.statusText);
                    }
                    let answer_block = document.getElementById('answer');
                    let order = JSON.parse(sender.responseText);
                    console.log(order);
                    answer_block.textContent = order.text;
                }
        });

        let create_link = document.getElementById('create-link');

        create_link.addEventListener('click', function()
        {
            let sender = new XMLHttpRequest();
            sender.open('POST', '/test_create_ajax/', true);
            sender.setRequestHeader('X-CSRFToken', getCookie('csrftoken'))
            sender.send();
            sender.onreadystatechange = function()
                {
                     if(sender.readyState != 4)
                    {
                       return;
                    }
                    if(sender.status != 200)
                    {
                        alert(sender.status, ': ', sender.statusText);
                    }
                    let order = {
                        text: 'test text',
                        price: 999,
                        start_date: '2021-09-22',
                        finish_date: '2021-09-25'
                    };
                    console.log(order);
                    let json_data = JSON.stringify(order);
                    console.log(json_data)
                }
        });
    </script>
{% endblock %}