{% extends 'base.html' %}
{% block title %} Главная страница {% endblock %}

{% block content %}

    <h1 style="text-align: center;">Добро пожаловать на наш проект по поиску фотографов</h1>
    <p><a href="/login/">Вход</a></p>
    <p><a href="/register/">Регистрация</a></p>
    {% if user.is_authenticated %}
        <p><a href="{% url 'photo_store:photographers' %}">Поиск фотографа</a></p>
    {% endif %}
    <a href='#'>Тест</a>
    <p id="answer"></p>
    <script>
        let sender = new XMLHttpRequest();
        sender.open('GET', '/test_ajax/', False);
        sender.send();
        console.log(sender.responseText);
    </script>
{% endblock %}