{% extends 'base.html' %}
{% block title %} Сообщения {% endblock %}

{% block content %}

<!--<p>{{ message.sender }}</p>-->
<!--{% for text in text_message %}-->
<!--    {% if text.receiver == request.user %}-->
<!--        <p>{{ text.date_time }}</p>-->
<!--        <p>{{ text.text }}</p>-->
<!--    {% endif %}-->
<!--{% endfor %}-->

<!--<p>{{ message.receiver }}</p>-->
<!--{% for text in text_message_user %}-->
<!--    {% if text.receiver ==  message.sender %}-->
<!--        <p>{{ text.date_time }}</p>-->
<!--        <p>{{ text.text }}</p>-->
<!--    {% endif %}-->
<!--{% endfor %}-->


{% for text in message_list %}
        <p><b>{{ text.sender }}</b></p>
        <p>{{ text.date_time }}</p>
        <p>{{ text.text|safe }}</p>
        <hr>
{% endfor %}
<form action="." method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Ответить"></p>
</form>

{% endblock %}
