{% extends 'base.html' %}
{% block title %} Заказы {% endblock %}

{% block content %}

    <h2>Заказы</h2>
    <p>{% for order in user_orders %}</p>
            <a href="/order/{{ order.id }}">{{ order }}</a>
        {% endfor %}
    <form action="{% url 'photo_store:create_order' %}" method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
        <br>
        <h2>Новый заказ</h2>
            {{ form.as_p }}
        {% endfor %}
        <input type="submit" value="Создать">
    </form>

{% endblock %}