{% extends 'base.html' %}
{% load auth_extras %}
{% block title %} Заказы {% endblock %}

{% block content %}

    {% if request.user|has_group:"Photographers" %}
        <h2>Заказы</h2>
        <p>{% for order in user_orders %}</p>
                <a href="{% url 'photo_store:order' pk=order.id %}">{{ order }}</a>
            {% endfor %}
    {% endif %}
    <form action="{% url 'photo_store:create_order' %}" method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
        <br>
        <h2>Новый заказ</h2>
            {{ form.as_p }}
        {% endfor %}
        <input type="submit" value="Создать">
    </form>
    <form id="create_form" method="POST">
        {% csrf_token %}
        <br>
        <h2>Новый заказ ajax</h2>
            {{ ajax_form.as_p }}
        <input type="submit" value="Создать">
    </form>
    <a href='#' id="test-link">Тест</a>
    <p id="answer"></p>
    <a href='#' id="create-link">TestCreate</a>
    <script>
        function getCookie(name)
        {
              let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
              ));
              return matches ? decodeURIComponent(matches[1]) : undefined;
        }

        let link = document.getElementById('test-link');

        link.addEventListener('click', function()
        {
            let sender = new XMLHttpRequest();
            sender.open('GET', '/test_ajax/', true);
            sender.send();
            sender.onreadystatechange = function()
                {
                    if(sender.readyState != 4)
                    {
                       return;
                    }
                    if(sender.status != 200)
                    {
                        alert(sender.status, ': ', sender.statusText);
                    }
                    let answer_block = document.getElementById('answer');
                    let order = JSON.parse(sender.responseText);
                    console.log(order);
                    answer_block.textContent = order.text;
                }
        });

        let create_link = document.getElementById('create-link');

        create_link.addEventListener('click', function()
        {
            let sender = new XMLHttpRequest();
            sender.open('POST', '/test_create_ajax/', true);
            sender.setRequestHeader('X-CSRFToken', getCookie('csrftoken'))
            sender.setRequestHeader('Content-Type', 'application/json')
            let form = document.getElementById('create_form');
            let order_data = {};
            for(field of form)
            {
                order_data[field.name] = field.value
            }
            let json_data = JSON.stringify(order_data);
            sender.send(json_data);
            sender.onreadystatechange = function()
                {
                     if(sender.readyState != 4)
                    {
                       return;
                    }
                    if(sender.status != 200)
                    {
                        alert(sender.status, ': ', sender.statusText);
                    }

                    console.log(sender.responseText);


                }
        });
    </script>
{% endblock %}