{% extends 'base.html' %}
{% block title %} Заказ №{{current_order.id}} {% endblock %}

{% block content %}
    <h1>{{current_order.topic.name}}</h1>
    <p>Описание: {{current_order.text}}</p>
    <p>Цена: {{current_order.price}}</p>
    {% if not is_user_has_response and current_order.owner != user and not accepted_response%}
        <form action="." method="POST">
            {% csrf_token %}
            <h2>Отклик на заказ:</h2>
            {{ form.as_p }}
            <input type="submit" value="Ответить">
            <p><a href="/orders/">назад</a></p>
        </form>
    {% elif current_order.owner == user and not accepted_response %}
        <p>Это ваш заказ</p>
        <p><a href="edit/">Редактировать</a></p>
        <p><a href="/del_order/{{current_order.id}}">Удалить заказ</a></p>
        <p><a href="/orders/">назад</a></p>
    {% elif current_order.owner == user and accepted_response %}
        <p>Это ваш заказ</p>
        <p><a href="/orders/">назад</a></p>
<!--        <p><a href="edit/">Редактировать</a></p>-->
    {% elif current_order.owner != user and accepted_response %}
        <p>Заказ закрыт для откликов</p>
    {% else %}
        <p>Вы уже оставили отклик на этот заказ</p>
        <p><a href="/orders/">назад</a></p>
    {% endif %}
    {% if accepted_response and current_order.owner == user %}
        {% if not accepted_response.rate or not accepted_response.comment %}
            <form action="." method="POST">
                {% csrf_token %}
                {{ rate_response_form.as_p }}
                <input type="submit" value="Оставить оценку">
            </form>
        {% endif %}
    {% endif %}
    {% if not accepted_response %}
        <h2>Откликнулись:</h2>
            {% if current_order.owner == request.user %}
                {% for response in current_order.response_set.all %}
                    <p>Рейтинг фотографа: {{ response.photographer.avg_rate }}</p>
                    <a href="/profile/{{ response.photographer.id }}"><p>{{ response.photographer }}</p></a>
                    <p>{{ response.text }}</p>
                    <p>Мои работы:</p>
                    {% for photo in photo_list %}
                        {% if photo.photographer == response.photographer and photo.response and photo.response.order.topic == current_order.topic %}
                            <a href="/order/{{ photo.response.order_id }}"><img src="{{ photo.image.url }}" style="width: 15%"></a>
                        {% endif %}
                    {% endfor %}
                    <p><a href="/select_response/{{ response.id }}"><input type="submit" value="выбрать"></a></p>
                    ======================================
                {% endfor %}
            {% else %}
                {% for response in current_order.response_set.all %}
                    <a href="/profile/{{ response.photographer.id }}"><p>{{ response.photographer }}</p></a>
                {% endfor %}
            {% endif %}
    {% else %}
        <p>Исполнитель: <a href="/profile/{{ accepted_response.photographer.id }}">{{ accepted_response.photographer }}</a></p>
        {% if not current_order.is_public and current_order.owner == request.user or accepted_response.photographer == request.user%}
            <p><h2>Фотографии:</h2></p>
            {% for photo in photo_list %}
                <img src="{{ photo.image.url }}" style="width: 15%">
            {% endfor %}
        {% elif current_order.is_public %}
            <p><h2>Фотографии:</h2></p>
            {% for photo in photo_list %}
                <img src="{{ photo.image.url }}" style="width: 15%">
            {% endfor %}
        {% else %}
            <h3>Заказчик ограничил доступ к материалам заказа</h3>
        {% endif %}
    {% endif %}
    {% if accepted_response.photographer == request.user %}
        <p><h3>загрузить фотографии</h3></p>
        <form action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ photo_form.as_p }}
            <p><input type="submit" value="Добавить"></p>
        </form>
    {% endif %}
{% endblock %}