{% extends 'base.html' %}
{% block title %} Заказ №{{current_order.id}} {% endblock %}

{% block content %}
    <h1>{{current_order.topic.name}}</h1>
    <p>Описание: {{current_order.text}}</p>
    <p>Цена: {{current_order.price}}</p>
    {% if not is_user_has_response and current_order.owner != user%}
        <form action="." method="POST">
            {% csrf_token %}
            <h2>Отклик на заказ:</h2>
            {{ form.as_p }}
            <input type="submit" value="Ответить">
            <p><a href="/orders/">назад</a></p>
        </form>
    {% elif current_order.owner == user %}
        <p>Это ваш заказ</p>
        <p><a href="edit/">Редактировать</a></p>
        <p><a href="/del_order/{{current_order.id}}">Удалить заказ</a></p>
        <p><a href="/orders/">назад</a></p>
    {% else %}
        <p>Вы уже оставили отклик на этот заказ</p>
        <p><a href="/orders/">назад</a></p>
    {% endif %}

    <h2>Откликнулись:</h2>
        {% if current_order.owner == request.user %}
            {% for response in response %}
                {% if response.is_selected %}
                    <p>Ваш фотограф: <a href="/profile/{{ response.photographer.id }}">{{ response.photographer }}</a></p>
                {% else %}
                    <a href="/profile/{{ response.photographer.id }}"><p>{{ response.photographer }}</p></a>
                    <p>{{ response.text }}</p>
                    <p><a href="/select_response/{{ response.id }}"><input type="submit" value="выбрать"></a></p>
                    ======================================
                {% endif %}
            {% endfor %}
        {% else %}
            {% for response in response %}
                <a href="/profile/{{ response.photographer.id }}"><p>{{ response.photographer }}</p></a>
            {% endfor %}
        {% endif %}

{% endblock %}