{% extends 'base.html' %}
{% block title %} Фото №{{current_photo.id}} {% endblock %}

{% block content %}

        <p><img src="{{photo.image.url}}"></p>
        {% if photo.description %}
                <p>{{ photo.description }}</p>
        {% endif %}
        {% for tag in photo.tags.all %}
                <a href="{% url 'photo_store:tag_photos' pk=tag.id %}">#{{ tag.name }}</a>
        {% endfor %}
        <form action="{% url 'photo_store:create_tag' photo_id=photo.id %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <p><input type="submit" value="Добавить тэг"></p>
        </form>
        <a href="{% url 'photo_store:del_photo' pk=photo.id %}"><input type="button" value="Удалить фото"></a>

{% endblock %}