{% extends 'base.html' %}
{% block title %} Ваш профиль {% endblock %}

{% block content %}

<h2>Профиль</h2>
    <p>Имя: {{ user.first_name }}</p>
    <p>Фамилия: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
{% if user.id == request.user.id %}
    <p><a href="{% url 'photo_store:edit_profile' pk=user.id %}">Редактировать</a></p>
    <p><a href="/logout/">Выйти</a></p>
{% endif %}
<!--<table>-->
<!--    <tr>-->
<!--        <th>Загружено фотографий</th>-->
<!--        <th>Создано заказов</th>-->
<!--        <th>Всего откликов на заказы</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>{{ user.photo_set.count }}</td>-->
<!--        <td>{{ user.order_set.count }}</td>-->
<!--        <td>{{ user.response_set.count }}</td>-->
<!--    </tr>-->
<!--</table>-->
<p>Загружено фотографий: {{ user.photo_set.count }}</p>
<p>Создано заказов: {{ user.order_set.count }}</p>
<p>Всего откликов на заказы: {{ user.response_set.count }}</p>
{% if user.is_photographer %}
    <p>Рейтинг: {{ user.avg_rate }}</p>
{% endif %}
<h2>Портфолио</h2>
{% for photo in user.photo_set.all %}
    {% if not photo.response %}
        <a href="{% url 'photo_store:photo_view' photo_id=photo.id %}"><img src="{{ photo.image.url }}" style="width: 15%"></a>
    {% endif %}
{% endfor %}

{% if user.id == request.user.id %}
    <h2>Добавить фотографию:</h2>
    <form action="{% url 'photo_store:create_photo' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ photo_form.as_p }}
        <p><input type="submit" value="Добавить"></p>
    </form>
{% endif %}

<h2>Сообщения</h2>
{% if user.id == request.user.id %}
    {% for conversationer, message in message_dict.items %}
        <p>{{ conversationer }}</p>
        <p>{{ message.0.text|safe }}</p>
<!--        <p>{{ message.date_time }}</p>-->
<!--        <p>Кто: {{ message.sender }}</p>-->
<!--        <p>Текст: {{ message.text }}</p>-->
        <a href="{% url 'photo_store:show_messages' conversationer_id=conversationer.id %}">
            <p><input type="button" value="ответить"></p>
        </a>
<!--        <p>Кому: {{ message.receiver }}</p>-->
    <hr>
    {% endfor %}
{% else %}
    <form action="." method="POST">
        {% csrf_token %}
        <h2>Написать сообщение</h2>
        {{ message_form.as_p }}
        <input type="submit" value="Отправить">
    </form>
{% endif %}

{% if user.id == request.user.id %}
    <h2>Мои заказы</h2>
{% else %}
    <h2>Заказы</h2>
{% endif %}
    {% for order in user.order_set.all %}
            <p><a href="{% url 'photo_store:order' order_id=order.id %}">{{ order }}</a></p>
        {% endfor %}

{% if user.id == request.user.id %}
    <h2>Мои отклики</h2>
    {% for my_response in user.response_set.all %}
            <p><a href="{% url 'photo_store:order' order_id=my_response.order.id %}">{{ my_response }}</a></p>
    {% endfor %}
{% endif %}
{% endblock %}